@{
    ViewData["Title"] = "Danh mục bộ phận";
    ViewData["PageName"] = "department";
}

@section HeadBlock {}

<table id="dt-departments" class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline">
</table>

@section ScriptsBlock
{
    <script src="~/develover/js/catalog.js"></script>
    <script src="~/develover/js/catalog.department.js"></script>
}