@using Develover.WebUI.Entities;

@model Role

<div class="modal fade" id="modal-role" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="role" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">NEW ROLE</h6>
                <button type="button" class="close" onclick="roleModal.hideModal();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync($"~/Views/Identity/Role/_Form.cshtml", Model)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="roleModal.hideModal();">Close</button>
                <button type="button" class="btn btn-primary save" onclick="roleModal.save();">Add</button>
            </div>
        </div>
    </div>
</div>

<script src="~/develover/js/catalog.role.js"></script>
<script>
    let roleModalOptions = {
        mode: CatalogMode.NEW,
        form: "form-role",
        modalId: "modal-role"
    };

    let roleModal = new Role(roleModalOptions, @Json.Serialize(Model));
    roleModal.initialize();
</script>
