@{
    ViewData["Title"] = "Danh mục loại địa điểm";
    ViewData["PageName"] = "location";
}

@section HeadBlock {}

<table id="dt-locations" class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline">
</table>

@section ScriptsBlock
{
    <script src="~/develover/js/catalog.js"></script>
    <script src="~/develover/js/catalog.location.js"></script>
}