@{
    ViewData["Title"] = "Danh mục các khoản phụ cấp, giảm trừ";
    ViewData["PageName"] = "allowancedeductiontype";
}

@section HeadBlock {}

<table id="dt-allowance-deduction-types" class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline">
</table>

@section ScriptsBlock
{
    <script src="~/develover/js/catalog.js"></script>
    <script src="~/develover/js/catalog.allowance-deduction-type.js"></script>
}