<form id="form-change-password" class="form was-validated">
    <div class="form-row">
        <div class="col-sm-10">
            @Html.DeveloverTextBox(id: "Username", label: "Tên tài khoản", placeholder: "Tên tài khoản", validation: "required", validationMessage: "Tên tài khoản không được để trống!")
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-10">
            @Html.DeveloverTextBox(id: "Password", label: "Mật khẩu", placeholder: "Mật khẩu", validation: "required", validationMessage: "Mật khẩu không được để trống!")
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-10">
            @Html.DeveloverTextBox(id: "ConfirmPassword", label: "Xác nhận mật khẩu", placeholder: "Xác nhận mật khẩu", validation: "required", validationMessage: "Xác nhận mật khẩu không được để trống!")
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-10">
            @Html.DeveloverSwitch("Status", "Sử dụng")
        </div>
    </div>
</form>
