@{
    ViewData["Title"] = "Danh mục đổi mật khẩu";
    ViewData["PageName"] = "changepassword";
}

@section HeadBlock {}

<table id="dt-change-passwords" class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline">
</table>

@section ScriptsBlock
{
    <script src="~/develover/js/catalog.js"></script>
    <script src="~/develover/js/catalog.user.change-password.js"></script>
}