@{
    ViewData["Title"] = "Danh mục chi phí phương tiện";
    ViewData["PageName"] = "vehiclecost";
}

@section HeadBlock {}

<table id="dt-vehicle-costs" class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline">
</table>

@section ScriptsBlock
{
    <script src="~/develover/js/catalog.js"></script>
    <script src="~/develover/js/catalog.vehicle-cost.js"></script>
}