@{
    ViewData["Title"] = "Danh mục loại tài liệu";
    ViewData["PageName"] = "documenttype";
}

@section HeadBlock {}

<table id="dt-document-types" class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline">
</table>

@section ScriptsBlock
{
    <script src="~/develover/js/catalog.js"></script>
    <script src="~/develover/js/catalog.document-type.js"></script>
}