@{
    ViewData["Title"] = "Danh mục điều chuyển phòng ban";
    ViewData["PageName"] = "department-transfer";
}

@section HeadBlock {}

<table id="dt-department-transfers" class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline">
</table>

@section ScriptsBlock
{
    <script src="~/develover/js/catalog.js"></script>
    <script src="~/develover/js/catalog.department-transfer.js"></script>
}