@{
    ViewData["Title"] = "Danh mục người dùng";
    ViewData["PageName"] = "user";
}

@section HeadBlock {}

<table id="dt-users" class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline">
</table>

@section ScriptsBlock
{
    <script src="~/develover/js/catalog.js"></script>
    <script src="~/develover/js/catalog.user.js"></script>
}