@{
    ViewData["Title"] = "Danh mục ngày lễ";
    ViewData["PageName"] = "holiday";
}

@section HeadBlock {}

<table id="dt-holidays" class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline">
</table>

@section ScriptsBlock
{
    <script src="~/develover/js/catalog.js"></script>
    <script src="~/develover/js/catalog.holiday.js"></script>
}