@{
    ViewData["Title"] = "Danh mục loại nghỉ phép";
    ViewData["PageName"] = "leavetype";
}

@section HeadBlock {}

<table id="dt-leave-types" class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline">
</table>

@section ScriptsBlock
{
    <script src="~/develover/js/catalog.js"></script>
    <script src="~/develover/js/catalog.leave-type.js"></script>
}