@{
    ViewData["Title"] = "Thông tin hàng tồn kho";
    ViewData["PageName"] = "stockitem";
    ViewData["Category1"] = "<a href=\"/stockitem\">Danh mục hàng tồn kho</a>";
}

@section HeadBlock {}

<div class="col-xl-12 px-0">
    <div id="panel-stock-item" class="panel">
        <div class="panel-hdr">
            <h2>
                <i class="fal fa-code-branch mr-2"></i> @ViewData["Title"]
            </h2>
            <div class="panel-toolbar">
                <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
            </div>
        </div>
        <div class="panel-container show">
            <div class="panel-content">
                <div class="panel-tag">
                    @Html.DeveloverDetailButton()
                </div>
                @await Html.PartialAsync($"~/Views/StockItem/_Form.cshtml")
            </div>
        </div>
    </div>
</div>

@section ScriptsBlock
{
    <script src="~/develover/js/catalog.js"></script>
    <script src="~/develover/js/catalog.stock-item.js"></script>
}