@{
    ViewData["Title"] = "Danh mục hàng tồn kho";
    ViewData["PageName"] = "stockitem";
}

@section HeadBlock {}

<table id="dt-stock-items" class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline">
</table>

@section ScriptsBlock
{
    <script src="~/develover/js/catalog.js"></script>
    <script src="~/develover/js/catalog.stock-item.js"></script>
}