@using Develover.WebUI.Entities;

@model Currency

<div class="modal fade" id="modal-currency" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="currency" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">NEW CURRENCY</h6>
                <button type="button" class="close" onclick="currencyModal.hideModal();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync($"~/Views/Identity/Currency/_Form.cshtml", Model)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="currencyModal.hideModal();">Close</button>
                <button type="button" class="btn btn-primary save" onclick="currencyModal.save();">Add</button>
            </div>
        </div>
    </div>
</div>

<script src="~/develover/js/catalog.currency.js"></script>
<script>
    let currencyModalOptions = {
        mode: CatalogMode.NEW,
        form: "form-currency",
        modalId: "modal-currency"
    };

    let currencyModal = new Currency(currencyModalOptions, @Json.Serialize(Model));
    currencyModal.initialize();
</script>
