@{
    ViewData["Title"] = "Danh mục đăng ký loại định mức KPI cho tổ";
    ViewData["PageName"] = "kpiregistration";
}

@section HeadBlock {}

<table id="dt-kpi-registrations" class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline">
</table>

@section ScriptsBlock
{
    <script src="~/develover/js/catalog.js"></script>
    <script src="~/develover/js/catalog.kpi-registration.js"></script>
}