@{
    ViewData["Title"] = "Danh mục trạng thái tài liệu";
    ViewData["PageName"] = "documentstatus";
}

@section HeadBlock {}

<table id="dt-document-statuss" class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline">
</table>

@section ScriptsBlock
{
    <script src="~/develover/js/catalog.js"></script>
    <script src="~/develover/js/catalog.document-status.js"></script>
}