@{
    ViewData["Title"] = "Danh mục phương tiện";
    ViewData["PageName"] = "vehicle";
}

@section HeadBlock {}

<table id="dt-vehicles" class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline">
</table>

@section ScriptsBlock
{
    <script src="~/develover/js/catalog.js"></script>
    <script src="~/develover/js/catalog.vehicle.js"></script>
}