@using Develover.WebUI.Entities;

@model Supplier

<div class="modal fade" id="modal-supplier" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="supplier" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">NEW SUPPLIER</h6>
                <button type="button" class="close" onclick="supplierModal.hideModal();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync($"~/Views/Catalog/Supplier/_Form.cshtml", Model)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="supplierModal.hideModal();">Close</button>
                <button type="button" class="btn btn-primary save" onclick="supplierModal.save();">Add</button>
            </div>
        </div>
    </div>
</div>

<script src="~/develover/js/catalog.supplier.js"></script>
<script>
    let supplierModalOptions = {
        mode: CatalogMode.NEW,
        form: "form-supplier",
        modalId: "modal-supplier"
    };

    let supplierModal = new Supplier(supplierModalOptions, @Json.Serialize(Model));
    supplierModal.initialize();
</script>
