<form id="form-vehicle-use-purpose" class="form was-validated">
    <div class="form-row">
        <div class="col-sm-10">
            @Html.DeveloverTextBox(id: "Name", label: "Tên mục đích sử dụng phương tiện", placeholder: "Tên mục đích sử dụng phương tiện", validation: "required", validationMessage: "Tên mục đích sử dụng phương tiện không được để trống!")
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-10">
            @Html.DeveloverTextArea(id: "Note", label: "Ghi chú", placeholder: "Ghi chú")
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-10">
            @Html.DeveloverSwitch("Status", "Sử dụng")
        </div>
    </div>
</form>
