@{
    ViewData["Title"] = "Danh mục mục đích sử dụng phương tiện";
    ViewData["PageName"] = "vehicleusepurpose";
}

@section HeadBlock {}

<table id="dt-vehicle-use-purposes" class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline">
</table>

@section ScriptsBlock
{
    <script src="~/develover/js/catalog.js"></script>
    <script src="~/develover/js/catalog.vehicle-use-purpose.js"></script>
}