@{
    ViewData["Title"] = "Danh mục nhà cung cấp";
    ViewData["PageName"] = "supplier";
}

@section HeadBlock {}

<table id="dt-suppliers" class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline">
</table>

@section ScriptsBlock
{
    <script src="~/develover/js/catalog.js"></script>
    <script src="~/develover/js/catalog.supplier.js"></script>
}