@using Develover.WebUI.Entities;

@model VehicleCost

<div class="modal fade" id="modal-vehicle-cost" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="employee" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">NEW VEHICLE COST</h6>
                <button type="button" class="close" onclick="vehicleCostModal.hideModal();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync($"~/Views/Catalog/VehicleCost/_Form.cshtml", Model)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="vehicleCostModal.hideModal();">Close</button>
                <button type="button" class="btn btn-primary save" onclick="vehicleCostModal.save();">Add</button>
            </div>
        </div>
    </div>
</div>

<script src="~/develover/js/catalog.vehiclecost.js"></script>
<script>
    let vehicleCostModalOptions = {
        mode: CatalogMode.NEW,
        form: "form-vehicle-cost",
        modalId: "modal-vehicle-cost"
    };

    let vehicleCostModal = new VehicleCost(vehicleCostModalOptions, @Json.Serialize(Model));
    vehicleCostModal.initialize();
</script>
