@{
    ViewData["Title"] = "Danh sách phiếu nhập";
    ViewData["PageName"] = "receipt-note";
}

@section HeadBlock {}

<table id="dt-receipt-notes" class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline">
</table>

@section ScriptsBlock
{
    <script src="~/develover/js/stationery.js"></script>
    <script src="~/develover/js/stationery.receipt-note.js"></script>
}