@{
    ViewData["Title"] = "Danh mục mục tài liệu";
    ViewData["PageName"] = "documentcategory";
}

@section HeadBlock {}

<table id="dt-document-categorys" class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline">
</table>

@section ScriptsBlock
{
    <script src="~/develover/js/catalog.js"></script>
    <script src="~/develover/js/catalog.document-category.js"></script>
}