@{
    ViewData["Title"] = "Danh mục loại chấm công";
    ViewData["PageName"] = "attendancetype";
}

@section HeadBlock {}

<table id="dt-attendance-types" class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline">
</table>

@section ScriptsBlock
{
    <script src="~/develover/js/catalog.js"></script>
    <script src="~/develover/js/catalog.attendance-type.js"></script>
}